
nav ul {
    display: flex;
    font-size: 1.2rem;
    list-style-type: none;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: center;
    background-color:rgb(247, 98, 93);
}

body {
    font-family: 'Cairo', sans-serif;
    src: url(./assets/Cairo-Regular.ttf);
}

section .title{
  font-family: 'Cairo-Black', sans-serif;
    color: rgb(247, 98, 93);
    font-size: 2rem;
    src: url(./assets/Cairo-Regular.ttf);

}

.project-title {
    font-family:"VCR OSD Mono";
    color: rgb(167, 27, 23);
    text-align: center;
    src: url(./assets/VCR_OSD_MONO_1.001.ttf.ttf);

}
.deliverable-title {
  font-family:"VCR OSD Mono";
  color: rgb(167, 27, 23);
  text-align: left;
  font-size: 1.2rem;
  src: url(./assets/VCR_OSD_MONO_1.001.ttf.ttf);

}
.title{ 
  color: rgb(247, 98, 93);
  text-decoration: none;
  padding: 2px;
  font-family: 'Cairo', sans-serif;
  src: url(./assets/Cairo-Regular.ttf);
}

.backtitle{ 
  color: rgb(170, 43, 39);
  text-decoration: none;
  padding: 2px;
  font-family: 'Cairo', sans-serif;
  src: url(./assets/Cairo-Regular.ttf);
}

.pagetitle{ 
color: rgb(170, 43, 39);
text-decoration: none;
padding: 2px;
font-family: 'Cairo', sans-serif;
src: url(./assets/Cairo-Regular.ttf);
}

.headertitle{ 
color: rgb(170, 43, 39);
text-decoration: none;
padding: 2px;
font-family: 'Cairo', sans-serif;
src: url(./assets/Cairo-Regular.ttf);
font-size: 1.2rem;
}

.delauthors {
  width: 200%;
}
a:visited {color:rgb(167, 27, 23) ;}
a { text-decoration: none;
    color: rgb(167, 27, 23); 
 } 

 .abstract{
   text-align: left;
 }

.about:link { 
    color: rgb(247, 98, 93) ;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    src: url(./assets/Cairo-Regular.ttf);
  }
.news:link { 
    color: rgb(247, 98, 93);
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    color: inherit;  
    src: url(./assets/Cairo-Regular.ttf);
  }
.projects:link { 
    color: rgb(247, 98, 93);
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    src: url(./assets/Cairo-Regular.ttf);
  }
nav li {
    padding: 10px;


}

.row{
  display: flex;
  flex-wrap: nowrap;
}


.col-6 {
  margin-right: 200px;
}

.col-62{
  margin-right: 1px;
}


[class*="col-"] {
    flex-basis: 100%;
}


.column1 {
  width: 50.5%;
  padding: 5px;
}

  .col22 {
    text-align: center;
    margin-right: 100px;
    flex-basis: 33%;
  }

@media only screen and (min-width:768px) {
    .col-1 {flex-basis: 8.33%;} /* width works too */
    .col-2 {flex-basis: 16.66%;}
    .col-3 {flex-basis: 25%;}
    .col-4 {flex-basis: 33.33%;}
    .col-5 {flex-basis: 41.66%;}
    .col-6 {flex-basis: 50%;}
    .col-62 {flex-basis: 25%;}
    .col-7 {flex-basis: 58.33%;}
    .col-8 {flex-basis: 66.66%;}
    .col-9 {flex-basis: 75%;}
    .col-10 {flex-basis: 83.33%;}
    .col-11 {flex-basis: 91.66%;}
    .col-12 {flex-basis: 100%;}
    .row {flex-direction: row;}
    .row1 {flex-direction: column;}
    
}

  /* Clear floats after image containers */
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }
 
.profile-img {
    border-radius: 3%;
    object-fit: fill;
    width: 200px;
    height: 200px;
}




.search input {
    width:100%;
  margin:0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #eeeeee;
}

.parallax {
    /* The image used */
    background-image: url("./assets/Header1.png");
  
    /* Set a specific height */
    height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    
  }

  a:hover {
    color: black; 
  }